# General Variables
TB_QUEUE_TYPE=rabbitmq

# Variables to connect with message broker
TB_QUEUE_RABBIT_MQ_USERNAME=
TB_QUEUE_RABBIT_MQ_PASSWORD=
TB_QUEUE_RABBIT_MQ_HOST=rabbitmq3
TB_QUEUE_RABBIT_MQ_PORT=5672
